.Not-Found-Content-Home {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: default;

}

.Not-Found-Main-Wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0e0e0e;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.Not-Found-Main-Wrapper-Background {
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.Not-Found-Content-Page{
    position: relative;
    z-index: 2;
    color: white;
    font-family: 'RickMortyFont';
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.Not-Found-Home-Main-Info {
    text-align: center;
    font-size: 7rem;
    font-weight: 600;
    letter-spacing: 1rem;
    margin: 3%;
}

.Not-Found-Home-Main-Info-SubTitle {
    font-size: 3rem;
    letter-spacing: 0.4rem;
    font-weight: 600;
    color: #beec65;
}

.Not-Found-Home-Main-Info-Title {
    font-size: 7rem;
    letter-spacing: 1.3rem;
    font-weight: 600;
    color: #6fd026;
}

.Not-Found-Home-Main-Sumary {
    text-align: center;
    position: absolute;
    bottom: 4%;
    font-size: 1.3rem;
    font-weight: 100;
    font-style: italic;
    opacity: 0.9;
    letter-spacing: 0.2rem;
    font-family: 'Inter', sans-serif;
}